# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\An2Sem2\TP\Olivia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
